{% extends "layout.html.twig" %}

{% block title %}New Program{% endblock %}

{% block body %}
    <h1>New program</h1> 
    <h2>{{ program.title }} created</h2>
    <p>Hello, the new program {{ program.title }} has been created on Wild Series</p>
    <p>Summary : {{program.summary }}
{% endblock %}
