{% extends "base.html.twig" %}

{% block body %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Wild Serie</title>
    </head>
    <body>
        <h1> Program {{ id }}</h1>
        <a href={{ path('program_index') }}>Home</a>
    </body>
    </html>
{% endblock %}
